.content-item {
    .left {

    }
    .right {
        .text-content {
            line-height:  22px;
            max-width:  88px;
            overflow:  hidden;
            height: 66px;
        }
    }
}